body {
    font-size: 12px;
    font-family: monospace;
    color: greenyellow;
    background: #222222;
}

banner {
    font-size: 16px;
    font-family: monospace;
    color: greenyellow;
}

bs {
    color: rgb(82, 136, 0);
}

login {
    font-size: 16px;
    color: greenyellow;    
}

/* Forms */
input {
    background-color: #585858;
    color: greenyellow;
    border: 1px black;
    padding: 4px 2px;
    margin: 4px 0;
    box-sizing: border-box;    
}

input[type="submit"]:hover {
    background-color: #999999;
}


/* Blinking curser */
.blink {
    font-size: 16px;
    letter-spacing: -1px;
    color: greenyellow;
}

.blinkShade {
    letter-spacing: -1px;
    font-size: 16px;
    color: rgb(82, 136, 0);
}


/* Links */
a {
    color: rgb(255, 0, 0);
}

a:hover {
    COLOR: rgb(218, 124, 0);
}

.hiddenLink {
    color: greenyellow; 
    text-decoration: none;
}

.hiddenLink:hover {
    color: greenyellow;
}


/* Img */
img {
    width: 31%;
}