body {
    font-size: 16px;
    font-family: monospace;
    color: greenyellow;
    background: #222222;
}

mediaCenter {
    margin: auto;
    text-align: left;
}

profilePic {
    font-size: 12px; 
}

banner {
    font-size: 16px;
    font-family: monospace;
    color: greenyellow;
}

/* Blinky Lights for Krad */
bs {
    /* color: rgb(82, 136, 0); */
    color: greenyellow;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.1;
}

@-webkit-keyframes pulsate {
    0% { opacity: 0.1; }
    50% { opacity: 1.0; }
    100% { opacity: 0.1; }
}

@keyframes pulsate {
    0% { opacity: 0.1; }
    50% { opacity: 1.0; }
    100% { opacity: 0.1; }
}


login {
    font-size: 16px;
    color: greenyellow;    
}

/* Forms */
input {
    background-color: #585858;
    color: greenyellow;
    border: 1px black;
    padding: 4px 2px;
    margin: 4px 0;
    box-sizing: border-box;    
}

input[type="submit"]:hover {
    background-color: #999999;
}


/* Blinking curser */
.blink {
    font-size: 16px;
    letter-spacing: -1px;
    color: greenyellow;
}

.blinkShade {
    letter-spacing: -1px;
    font-size: 16px;
    color: rgb(82, 136, 0);
}


/* Links */
a {
    color: rgb(255, 0, 0);
}

a:hover {
    COLOR: rgb(218, 124, 0);
}

.hiddenLink {
    color: greenyellow; 
    text-decoration: none;
}

.hiddenLink:hover {
    color: greenyellow;
}


/* Img */
img {
    width: 31%;
}

/* Other */
bleah {
    font-size: 12px;
}